{% extends "layout_unbranded.html" %}

{% block page_title %}
  Your Activity!
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
<img class="avatar" src="/public/images/avatar.jpeg" alt="avatar" />
    <p class="heading-medium">
    Alan Awesome
    </p>
    <p class="lede">
    Working with: Badgers
    </p>    
</div>

<div class="grid-row">
    <div class="column-third">
		<div class="govuk-box-highlight">
	        <h1 class="bold-large">On The Clock</h1>
	        <p>
	          You've done a total of <br>
	          <strong class="heading-medium">14 hours</strong><br>
	          This month <br>
	        </p>
	      </div>
    </div>
    <div class="column-third">
	<div class="govuk-box-highlight">
	        <h1 class="bold-large">Rasing your Game</h1>
	        <p>
	          You've helped raise <br>
	          <strong class="heading-medium">£1,687</strong><br>
	          in total
	        </p>
	      </div>
    </div>
    <div class="column-third">
	<div class="govuk-box-highlight">
	        <h1 class="bold-large">Plus One</h1>
	        <p>
	          You've helped get <br>
	          <strong class="heading-medium">12 new people</strong><br>
	          to help out
	        </p>
	      </div>
    </div>
  </div>

    <h2 class="heading-large">Alan's Helper Community</h2>

<div class="grid-row">
<img class="avatar" src="/public/images/avatar.jpeg" alt="avatar" />
    <p class="heading-medium">
    Ann Amazing
    </p>
    <p class="lede">
    Working with: Badgers, Coding for a Purpose, Cool Stuff Org, Mr. Robot
    </p>    
</div>
        <div class="column-two-thirds">
			<div class="govuk-box-highlight">
		        <h1 class="bold-large">Plus One</h1>
		        <p>
		          Ann helped get <br>
		          <strong class="heading-medium">8 new people</strong><br>
		          to help out
		        </p>
	      </div>
	      See who they helped, and what they did.
    	</div>
    </div>

</main>

{% endblock %}
