{% extends "layout_unbranded.html" %}

{% block page_title %}
  '{{ charity.name }}'
{% endblock %}

{% block content %}

<main id="content" role="main">
<h1 class="heading-xlarge">
<span class="heading-secondary"><a href="{{charity.website}}" target="_blank">{{charity.website}}</a></span>
{{charity.name}}
</h1>
<p class="lede">
    {{charity.mission}}
</p>
<p class="lede">
    So far, people have done these amazing things.
</p>
<div class="grid-row">
    <div class="column-half">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">On The Clock</h1>
            <p>
                People have provided help to the tune of
                <br>
                <strong class="heading-medium">14 hours</strong>
                <br> This month
                <br>
            </p>
        </div>
    </div>
    <div class="column-half">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Rasing your Game</h1>
            <p>
                People have helped raise
                <br>
                <strong class="heading-medium">£1,687</strong>
                <br> in total
            </p>
        </div>
    </div>
</div>
<h2 class="heading-large">People Helping {{charity.name}}</h2> 
{% for follower in charity.followers %}
<div class="notice">
    <img class="avatar" src="/public/images/avatar.jpeg" alt="avatar" />
    <p class="lede"><a href="/volunteers/1234">{{ follower.name }}</a> Has been helping out at {{charity.name}}
    for some time now. Visit their profile to see the contribution they have been making!
    </p>
</div>
{% endfor %}

    <h3 class="heading-medium">Want to join in?</h3>

    <p class="lede">
    This organisation help out in these sorts of areas:

    <ul class="list list-bullet">
    {% for client in charity.clients %}
        <li>{{ client.description }} <a href="/orgs/view/code/{{client.code}}">(more organisations help)</a>
    {% endfor %}
    {% for service in charity.services %}
        <li>{{ service.description }}
    {% endfor %}    
    </ul>
    </p>

    <h2 class="heading-large">Sounds like something you can help with?</h2>

    <p>
      Getting involved is easy. Just press the button below and we will make sure the organisations knows you want to help out. Thank you, together we an make the world more awesome!
    </p>
    <form action="/orgs/follow" method="post" class="form">    
        <div class="form-group">
            <input type="submit" class="button" value="Lets Go">
            <input type="hidden" name="charity_id" value="{{ charity.name }}">
        </div>
    </form>

</main>

{% endblock %}
