{% extends "layout_unbranded.html" %}

{% block page_title %}
  '{{ charity.name }}'
{% endblock %}

{% block content %}

<main id="content" role="main">
<h1 class="heading-xlarge">
<span class="heading-secondary"><a href="{{charity.website}}" target="_blank">{{charity.website}}</a></span>
{{charity.name}}
</h1>
<p class="lede">
    {{charity.mission}}
</p>

<div class="grid-row">
    <div class="column-half">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">On The Clock</h1>
            <p>
                People have provided help to the tune of
                <br>
                <strong class="heading-medium">14 hours</strong>
                <br> This month
                <br>
            </p>
        </div>
    </div>
    <div class="column-half">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Rasing your Game</h1>
            <p>
                People have helped raise
                <br>
                <strong class="heading-medium">£1,687</strong>
                <br> in total
            </p>
        </div>
    </div>
</div>
<h2 class="heading-large">People Helping Out</h2> 
{% for follower in charity.followers %}
<div class="notice">
    <img class="avatar" src="/public/images/avatar.jpeg" alt="avatar" />
    <a href="/volunteers/1234">{{ follower.name }}</a>    
</div>
{% endfor %}

    <h3 class="heading-medium">Want to join in?</h3>

    <p>
    This organisation works in the following areas:
    </p>

    <p>
    They need people that can:
    </p>

    <form action="/orgs/follow" method="post" class="form">    
        <div class="form-group">
            <input type="submit" class="button" value="I'm In.">
            <input type="hidden" name="charity_id" value="{{ charity.name }}">
        </div>
    </form>

</main>

{% endblock %}
