{% extends "layout_unbranded.html" %}

{% block page_title %}
  OH SNAP, YOU RULE!
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You are the best.</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>
      <p>We've connected you to your chosen organisation and let them know they have more much needed help.</p>
      <p>Thank you so much...if you feel like you have time....<a href="/orgs/view">Find more people to help</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>


  <p class="lede">
    </a>
  </p>

</main>

{% endblock %}
