{% extends "layout_unbranded.html" %}

{% block page_title %}
  VolunteerMe
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    <div >
        <h3 class="heading-medium">
        Volunteering is fun and even better, you are helping people make the world better. Look what people who are using our platform have achieved so far!
      </h3>
    </div>
</div>

<div class="grid-row">
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">On The Clock</h1>
            <p>
                You've done a total of
                <br>
                <strong class="heading-medium">14 hours</strong>
                <br> This month
                <br>
            </p>
        </div>
    </div>
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Rasing your Game</h1>
            <p>
                You've helped raise
                <br>
                <strong class="heading-medium">£1,687</strong>
                <br> in total
            </p>
        </div>
    </div>
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Plus One</h1>
            <p>
                You've helped get
                <br>
                <strong class="heading-medium">12 new people</strong>
                <br> to help out
            </p>
        </div>
    </div>
</div>

      
<div class="grid-row" style="padding:20px; text-align: center">
    <div class="column-one-half">
        <a href="">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">I Want To Volunteer</h1>
            </div>
        </a>
    </div>
    <div class="column-one-half">
        <a href="">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">I Need Volunteers</h1>
            </div>
        </a>
    </div>
</div>

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Why?</span>
      Volunteering
    </h1>
    Placeholder.

    <h1 class="heading-xlarge">
      <span class="heading-secondary">How?</span>
      Finding Volunteers
    </h1>
    Placeholder.




</main>

{% endblock %}


