{% extends "layout_unbranded.html" %}

{% block page_title %}
  COOL NAME THING
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Want to help the world be more awesome? Volunteer. 
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>
      <p>
        Volunteering is fun and even better, you are helping people make the world better.
      </p>


      <h2 class="heading-medium">See how your friends are helping the world get super cool.</h2>

			<h2 class="heading-medium">Somebody just did something amazing, you wont believe what happened next</h2>

			<ul class="list list-bullet">
				<li><a href="/examples">Vicki Volunteer just saved 14 Badgers from robotic death machines</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


