{% extends "layout_unbranded.html" %}

{% block page_title %}
  VolunteerMe
{% endblock %}

{% block content %}

<main id="content" role="main">


<p class="lede">
Volunteering is fun and even better, you are helping people make the world better. Look what people who are using our platform have achieved so far!
</p>

<div class="grid-row">
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">On The Clock</h1>
            <p>
                People have contributed total of
                <br>
                <strong class="heading-medium">19,028 hours</strong>
                <br> This month
                <br>
            </p>
        </div>
    </div>
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Rasing your Game</h1>
            <p>
                People have helped raise
                <br>
                <strong class="heading-medium">£100,687</strong>
                <br> in total
            </p>
        </div>
    </div>
    <div class="column-third">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Plus One</h1>
            <p>
                People have helped get
                <br>
                <strong class="heading-medium">8,420 new people</strong>
                <br> to help out so far
            </p>
        </div>
    </div>
</div>      

    <h3 class="heading-medium">Help Out</h3>

    <p>
    Jump right and by looking through the <a href="/orgs/view">organisations on the platform.<a/>
    </p>    

    <h3 class="heading-medium">Find Help</h3>
    <p>
    We want to share the awesome. We have APIs that are free to use to get onto the platform. We have comprehensive documentation and our own team of volunteers who are willing to help.
    </p>




</main>

{% endblock %}


